@model ETrade_BootCamp.ViewModels.EmployeeCreateViewModel

<h2>Personel Formu</h2>

<form asp-action="Create" asp-controller="Employee" method="post">
    <label for="FirstName">Ad</label>
    <input asp-for="FirstName" class="form-control" />

    <label for="LastName">Soyad</label>
    <input asp-for="LastName" class="form-control" />

    <label for="Title">Ünvan</label>
    <input asp-for="Title" class="form-control" />
    <br />

    @*****Seçim listesi oluşturma*****@
    <label for="Reports">Amiri</label>
    <select asp-for="Reports" asp-items="ViewBag.Employees">
        <option value="0">Bir amir seçiniz</option>
    </select>
    <br />

    <br />
    <button type="submit" class="btn btn-dark">Kaydet</button>

</form>

@*
@using (Html.BeginForm("Create", "Employee", FormMethod.Post))
{
    @Html.HiddenFor(m => m.EmployeeId)  //Yeni çalışan ekleneceği için Id si 0 zaten. Güncelleme yaparsan gerek olacak

    <div class="form-group">
        @Html.LabelFor(m => m.FirstName, "Ad")
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        <input class="form-control" name="FirstName" value="@Model.FirstName" type="text" />
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.LastName, "Soyad")
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Title, "Ünvan")
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
    </div>
   <br />
    <button type="submit" class="btn btn-dark">Kaydet</button>
}
*@